h1 {
    font-size: 20px;
    text-indent:40px;
    font-weight: normal;
    
  }

  b {
    font-size: 20px;
    font-weight: normal;
    text-indent:40px;
    background-color: yellow;
    
    
  }
  p {
    font-size: 20px;
    font-weight: normal;
    
  }
  .search{
    position: absolute;
    width: 337px;
    height: 40px;
    left: 250px;
    top: 10px; 
    float: left;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}
.search-icon{
    position: absolute;
    width: 280px;
    height: 40px;
    left: 313px;
    top: 3px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 144px;
    height: 48px;
    left: 1745px;
    top: 17px;
}
